/* Root variables for color scheme */
:root {
    --white-color: #fff;
    --platinum-color: #e6e5e5;
    --black-color: #000;
    --chinese-black-color: #141C0C;
    --pine-tree-color: #2a381cf3;
    --dark-liver-color: #50514f;
    --sunset-orange-color: #f25f5c;
    --dandelion-color: #ffe066;
    --lapis-lazuli-color: #247ba0;
    --green-sheen-color: #70c1b3;
    --spanish-gray-color: #999999;
    --chinese-silver-color: #cccccc;

}

/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* Body styles */
body {
    background-color: var(--chinese-black-color);
}

/* Heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: var(--white-color);
}

/* Paragraph styles */
p {
    font-size: 12px;
}

/* Header styles */
.header {
    margin: 0;
    padding: 15px 0;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 30px;
}

/* Header scroll effect */
.header-scroll {
    background-color: var(--chinese-black-color);
}

/* Header container styles */
.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Logo styles */
.logo {
    font-size: 26px;
    font-weight: 700;
    color: var(--white-color);
}

/* Header navigation list styles */
.header-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Header navigation link styles */
.header-a {
    position: relative;
    margin: 0 5px;
    padding: 8px;
    font-size: 20px;
    color: var(--dandelion-color);
    transition: color 0.3s ease;
}

/* Header navigation link hover effect */
.header-a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--dandelion-color);
    transition: width 0.3s ease, left 0.3s ease;
}

/* Header navigation link hover effect */
.header-a:hover::after {
    width: calc(100% - 16px);
    left: 8px;
}

/* "Hire Me" button styles */
.hire-me {
    background: linear-gradient(145deg, #f25f5c, #141C0C);
    color: var(--white-color);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* "Hire Me" button hover effect */
.hire-me:hover {
    transform: scale(1.05);
    font-size: 21px;
}

/* Main section styles */
.main-section {
    margin: 70px 0 20px 0;
    padding: 20px;
}

/* Main banner section styles */
.main-banner-section {
    background-color: var(--pine-tree-color);
    padding: 30px;
    border-radius: 10px;
}

/* Section container styles */
.section-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Banner text styles */
.banner-main-text {
    font-size: 30px;
    color: var(--dandelion-color);
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-sub-text {
    font-size: 20px;
    color: var(--white-color);
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-texts {
    font-size: 16px;
    color: var(--platinum-color);
    margin-bottom: 20px;
}

/* Banner buttons styles */
.banner-buttons {
    display: flex;
    align-items: center;
    gap: 40px;
}

.banner-img {
    height: 20px;
    width: 20px;
}

.banner-button {
    margin: 20px 0;
    font-size: 18px;
    color: var(--white-color);
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.banner-button:hover {
    transform: scale(1.05);
}

/* GitHub button styles */
.github {
    background: linear-gradient(145deg, #000, #ffe066);
}

/* Resume button styles */
.resume {
    background: linear-gradient(145deg, #70c1b3, #000);
}

/* Banner images styles */
.banner-images {
    height: 400px;
    width: 400px;
    transform: rotate(2deg);
    border: 3px solid var(--dark-liver-color);
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.banner-images:hover {
    border: 3px solid var(--chinese-black-color);
    transform: rotate(0deg);
}

.my-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

/* Banner icons styles */
.banner-icons {
    margin: 20px 0;
    display: flex;
    gap: 20px;
    align-items: center;
}

.banner-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 1px solid var(--dark-liver-color);
    border-radius: 5px;
    transition: transform 0.5s ease;
}

.banner-icon:hover {
    transform: scale(1.2);
}

.banner-icon-img {
    height: 20px;
    width: 20px;
    transition: transform 0.5s ease;
}

.banner-icon-img:hover {
    transform: rotateY(360deg);
}

/* Banner experience styles */
.banner-experience {
    margin: 40px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Experience content styles */
.experience-content {
    text-align: center;
}

.experience-text {
    font-size: 46px;
    color: var(--white-color);
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-sup {
    font-size: 20px;
}

.experience-span {
    font-size: 20px;
    color: var(--platinum-color);
    margin-left: 8px;
}

.main-aboutme,
.main-skills,
.main-contact {
    margin: 20px;
}

/* Main about me section styles */

.aboutme-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.aboutme-content {
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--pine-tree-color);
    margin: 10px;
    padding: 8px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.aboutme-academic {
    width: 40%;
}

.aboutme-content:hover {
    background-color: var(--dark-liver-color);
}

.aboutme-content-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px;
    transition: transform 0.5s ease;
}

.aboutme-content-img:hover {
    transform: scale(1.3);
}

.aboutme-content-text {
    flex-grow: 1;
}

.aboutme-content-header {
    font-size: 20px;
    color: var(--white-color);
    margin: 5px 0;
}

.aboutme-year,
.aboutme-degree,
.aboutme-text,
.aboutme-address {
    color: var(--platinum-color);
    font-size: 16px;
    margin: 5px 0;
}

.aboutme-year,
.aboutme-degree,
.aboutme-address {
    font-size: 14px;
    font-style: italic;
}

.aboutme-text {
    font-weight: 700;
}

.calendar-icon {
    height: 15px;
    width: 15px;
}

.aboutme-academic-header {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.aboutme-academic-img {
    height: 35px;
    width: 35px;
}

/* About me, skills section header styles */
.main-aboutme-header,
.main-skills-header,
.main-contact-header {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}

.main-aboutme-img,
.main-skills-img,
.main-contact-img {
    height: 50px;
    width: 50px;
}

/* About me, skills section description styles */
.main-aboutme-desc,
.main-skills-desc,
.main-contact-desc {
    font-size: 16px;
    color: var(--platinum-color);
    text-align: center;
    margin: 20px 0;
}

.skill-container {
    width: 600px;
    margin-left: 30%;
    margin-top: 20px;
    padding: 25px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 40px;
}

.skill-content {
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0;
}

.skill-content p {
    padding: 0;
    letter-spacing: 1px;
    margin: 0 0 15px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}

.skill-content p:nth-child(2) {
    float: right;
    position: relative;
    top: -25px;
}

.skill-box {
    box-sizing: border-box;
    background: #fff;
    border-radius: 8px;
}

.skill-level {
    width: 100%;
    height: 15px;
    border-radius: 8px;
}

.skill-header {
    text-align: center;
}

.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.contact-content{
    width: 100%;
}
.contact-info-box {
    margin: 15px 0;
}

.contact-info-text {
    color: var(--white-color);
    font-size: 18px;
    text-decoration: none;
}

.contact-icon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.contact-icon:hover {
    transform: scale(1.2);
}

.contact-form {
    width: 100%;
}

.form-input-box {
    margin: 20px 0;
}

.contact-input-field {
    width: calc(100% - 20px);
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--chinese-silver-color);
    border-radius: 5px;
}

.contact-input-field::placeholder {
    color: var(--chinese-silver-color);
}

.button-save {
    background-color: var(--green-sheen-color);
    color: var(--white-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-save:hover {
    background-color: var(--green-sheen-color);
    transform: scale(1.1);
}

.contact-textarea{
    height: 120px;
}